

.custom-parallax-card {
  transform-style: preserve-3d;
  width: 100%;
}

.custom-parallax-card:hover {
  z-index: 1;
}

.custom-parallax-card:hover .card-title {
  transform: translateZ(100px);
}

.custom-parallax-card:hover .card-description {
  transform: translateZ(50px);
}

.custom-parallax-card .card-inner {
  position: relative;
  border-radius: 15px;
  height: 0;
  width: 100%;
  padding-top: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  /* background-color: #000; */
  background: linear-gradient(180deg, #e0e0e0 0%, #a5a5a5 100%);
  /* margin-bottom: 10px; */
}

.custom-parallax-card .card-inner .wrapper {
  transform-style: inherit;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.custom-parallax-card .card-title {
  color: #222;
  text-shadow: -5px 5px 10px rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: transform 0.3s ease;
  font-family: Bangers;
  margin-bottom: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}

.custom-parallax-card .card-description {
  /* text-shadow: -1px 1px 6px rgba(0, 0, 0, 0.9); */
  line-height: 1;
  font-size: 12px;
  transition: transform 0.4s ease;
  font-weight: bold;
  /* font-family: Bangers; */


}

.custom-parallax-card .card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.custom-parallax-card .card-cover-inner {
  position: absolute;
  top: -17px;
  left: -17px;
  width: calc(100% + 34px);
  height: calc(100% + 34px);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.custom-parallax-card .card-cover-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}
.custom-parallax-card:hover .card-cover-inner img {
  transform: scale(1.4);

}


