.unit-card {
  transform-style: preserve-3d;
  user-select: none;
}

.unit-card:hover {
  z-index: 1;
}

.unit-card:hover .card-title {
  transform: translateX(-50%) translateZ(25px);
}

.unit-card:hover .card-description {
  transform: translateX(-50%) translateZ(50px);
}

.unit-card:hover .card-image {
  transform: translateX(-50%) translateZ(100px);
}

.unit-card.gray .card-inner {
  /* background: linear-gradient(180deg, #D23CFB 0%, #8000FF 100%); */
  background: linear-gradient(180deg, #e0e0e0 0%, #a5a5a5 100%);
}
.unit-card.purple .card-inner {
  background: linear-gradient(180deg, #9f1faa 0%, #3e0059 100%);

  /* background: linear-gradient(180deg, #f3e5f5 0%, #ba68c8 25%, #6a1b9a 60%, #2e003e 100%);
  box-shadow: 0 0 14px #ba68c8, 0 0 24px #6a1b9a inset; */
}
.unit-card.golden .card-inner {
  /* background: linear-gradient(180deg, #FFD700 0%, #FFA500 100%); */
  background: linear-gradient(180deg, #ffd700 0%, #b8860b 100%);

  /* background: linear-gradient(180deg, #fff8e1 0%, #f9d976 35%, #f39c12 65%, #b67c00 100%);
  box-shadow: 0 0 12px #ffd700, 0 0 24px #f9d976 inset; */
}
.unit-card.red .card-inner {
  background: linear-gradient(180deg, #d13b2f 0%, #891c13 100%);

  /* background: linear-gradient(180deg, #ffe5e5 0%, #ff4d4d 25%, #c80000 60%, #5a0000 100%);
    box-shadow: 0 0 12px #ff1a1a, 0 0 20px #ff4d4d inset; */
}
.unit-card.blue .card-inner {
  background: linear-gradient(180deg, #4a90e2 0%, #003d99 100%);

  /* background: linear-gradient(180deg, #e0f7ff 0%, #4fc3f7 25%, #0288d1 60%, #002f6c 100%);
  box-shadow: 0 0 14px #4fc3f7, 0 0 24px #0288d1 inset; */
}
.unit-card.green .card-inner {
    background: linear-gradient(180deg, #4caf50 0%, #087f23 100%);

    /* background: linear-gradient(180deg, #e6ffe6 0%, #66ff66 25%, #00b300 60%, #004d00 100%);
    box-shadow: 0 0 14px #66ff66, 0 0 24px #00b300 inset; */
}
.unit-card.dark .card-inner {
  background: linear-gradient(180deg, #1a1a1a 0%, #0d0d0d 100%);

  /* background: linear-gradient(180deg, #4a4a4a 0%, #1c1c1c 40%, #0a0a0a 80%, #000000 100%);
  box-shadow: 0 0 16px #555555, 0 0 30px #1c1c1c inset, 0 0 10px rgba(100, 100, 100, 0.4); */


}

.unit-card .card-inner {
  border-radius: 15px;
  height: 0;
  position: relative;
  padding-top: 60%;
  width: 100%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
}

.unit-card .card-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.unit-card .card-description {
  color: white;
  font-size: 0.7vw;
  transition: transform 0.4s ease;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 8px;
  
  border-radius: 8px;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  z-index: 1;
  /* font-size: 10px; */
}

.unit-card .card-image {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 50%;
  height: 50%;
  object-fit: contain;
  pointer-events: none;
  /* filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.1)); */
  /* filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.6)); */
  transition: transform 0.5s ease;
}
